<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="public/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="public/Css/style.css" />
    <script type="text/javascript" src="public/Js/jquery.js"></script>
    <script type="text/javascript" src="public/Js/bootstrap.js"></script>
    <script type="text/javascript" src="public/Js/ckform.js"></script>
    <script type="text/javascript" src="public/Js/common.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<form action="?r=activity/add" method="post"  enctype="multipart/form-data">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">活动名称</td>
        <td><input type="text" name="act_name"/></td>
    </tr>
    <tr>
        <td class="tableleft">活动类型</td>
        <td>
            <select name="type_id" id="">
                <option value="">请选择</option>
                <?php foreach($result as $key =>$val) {?>
                <option value="<?= $val['type_id']?>"><?= $val['type_name']?></option>
                <?php }?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tableleft">活动logo</td>
        <td>
            <input type="file" name="act_logo">
        </td>
    </tr>

    <tr>
        <td class="tableleft">开始/结束 时间</td>
        <td> <input type="text" value="" name="start_time"/> -- <input type="text" value="" name="end_time"/></td>
    </tr>
    <tr>
        <td class="tableleft">活动介绍</td>
        <td><textarea name="act_desc" id="" cols="30" rows="6"></textarea></td>
    </tr>
    <tr>
        <td class="tableleft">权重</td>
        <td>
            <input type="text" name="act_order" />
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
        $('#backid').click(function(){
                window.location.href="?r=activity/index";
         });

    });
</script>