<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="public/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="public/Css/style.css" />
    <script type="text/javascript" src="public/Js/jquery.js"></script>
    <script type="text/javascript" src="public/Js/bootstrap.js"></script>
    <script type="text/javascript" src="public/Js/ckform.js"></script>
    <script type="text/javascript" src="public/Js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="?r=activity/index" method="post">  
    活动名称：
    <input type="text" name="act_name" id="rolename"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addnew">新增活动</button>
</form>
    <table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>活动id</th>
        <th>活动名称</th>
        <th>活动类型</th>
        <th>活动logo</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>添加时间</th>
        <th>排序</th>
        <th>活动介绍</th>
        <th>操作</th>
    </tr>
    </thead>
    <?php foreach($result as $key=>$val){ ?>
    <tr id="<?= $val['act_id']?>">
        <td><?= $val['act_id']?></td>
        <td><?= $val['act_name']?></td>
        <td><?= $val['type_name']?></td>
        <td><img src="<?= $val['act_img']?>"height="100px" width='100px'></td>
        <td><?= $val['start_time']?></td>
        <td><?= $val['end_time']?></td>
        <td><?= $val['act_date']?></td>
        <td><?= $val['act_order']?></td>
        <td><?= $val['act_desc']?></td>
        <td>
            <a href="?r=activity/edit&id=<?= $val['act_id']?>">修改</a> | 
            <a href="javascript:void(0)" class="del">删除</a>
        </td>
    </tr>
    <?php }?>
    </table>
		</body>
		</html>

<script>
    $(function () {
        
		$('#addnew').click(function(){

				window.location.href="?r=activity/add";
		 });
    });
    $(".del").click(function() {
        var id = $(this).parent().parent().attr('id');
        del(id);
    })
	function del(id)
	{	
		if(confirm("确定要删除吗？"))
		{
			$.get('?r=activity/del',{act_id:id},function(msg){
                if(msg=='1'){
                    $('#'+id).remove()
                }else{
                    alert('失败');
                }
            })
		
		}	
	}

</script>