<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="public/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="public/Css/style.css" />
    <script type="text/javascript" src="public/Js/jquery.js"></script>
    <script type="text/javascript" src="public/Js/uploadPreview.js"></script>
    <script type="text/javascript" src="public/Js/bootstrap.js"></script>
    <script type="text/javascript" src="public/Js/ckform.js"></script>
    <script type="text/javascript" src="public/Js/common.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form action="?r=navigate/add" method="post" class="definewidth m20" enctype="multipart/form-data">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">导航</td>
        <td>
            <select name="nav_id" >
                <option value="0">添加导航</option>
                <?php foreach($list as $k =>$v){?>
                <option value="<?php echo $v['nav_id']?>">&nbsp;&nbsp;<?php echo $v['nav_name']?></option>
                <?php } ?>
            </select>
        </td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">导航名称</td>
        <td><input type="text" name="nav_name"/></td>
    </tr>
    <tr>
        <td class="tableleft">图标</td>
        <td><ul id="warp">
            <li style="list-style: none">
                <input type="file" name="myfile" id="up_img_WU_FILE_0" />
                <img id="imgShow_WU_FILE_0" width="100" height="100" />
            </li>
        </ul>
        </td>
    </tr>
    <tr>
        <td class="tableleft">状态</td>
        <td>
            <input type="radio" name="nav_status" value="1" checked/> 启用
           <input type="radio" name="nav_status" value="0"/> 禁用
        </td>
    </tr>

    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });
    });
</script>