<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="public/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/swiper-3.3.1.min.css"/>
	</head>
	<body>
		 <div class="wrap">
		 	<header>
		 		<div class="head-left">
		 			<img src="public/img/images/7A87EDAF7A960CD732ED93A92639CEE9_03.gif"/>
		 		</div>
		 		<div class="head-center">
		 			<img src="public/img/images/7A87EDAF7A960CD732ED93A92639CEE9_05.gif"/>
		 		</div>
		 		<div class="head-right">
		 			<img src="public/img/images/7A87EDAF7A960CD732ED93A92639CEE9_07.gif"/>
		 			<img src="public/img/images/7A87EDAF7A960CD732ED93A92639CEE9_09.gif"/>
		 		</div>
		 	</header>
		 	<section>
		 		<div class="box" id="box">
                    <div class="miaosha">
                        <div class="msNav">
                            <dl>
                                <dt><span>10:00</span>抢购中</dt>
                            </dl>
                            <dl>
                                <dt><span>20:00</span>即将开抢</dt>
                            </dl>
                            <dl>
                                <dt>下期预告</dt>
                            </dl>
                        </div>
                        <div class="msTime">
                            <p>距离本场结束<b><?php echo $kill_end_time['day']*24+$kill_end_time['hour']?></b>:
                                <b><?php echo $kill_end_time['min']?></b>:
                                <b><?php echo $kill_end_time['sec']?></b>
                            </p>
                            <span>筛选∨</span>
                            <img src="public/img/images/397E10609624C690284047B2C4F44144_03.gif"/>
                        </div>
                        <?php foreach( $kill as $key => $val ){?>
                        <div class="msGoods">
                            <dl>
                                <dt>
                                    <a href="index.php?r=index/details&goods_id=<?php echo $val['goods_id']?>">
                                        <img src="public/img/images/397E10609624C690284047B2C4F44144_07.gif"/>
                                    </a>
                                </dt>
                                <dd>
                                    <h1><?php echo $val['goods_name']?></h1>
                                    <p>
                                        <span  class="newPrice">￥<?php echo $val['goods_price']?></span>
                                        <span class="oldPrice">￥<?php echo $val['goods_price']+300?></span>
                                    </p>
                                    <p class="msFan"><i>返</i><span class="fanPrice"><?php echo $val['goods_rebate']?></span></p>
                                </dd>
                                <span class="msTm">淘宝</span>
                                <span class="msQiang">
                                    <a href="index.php?r=index/details&goods_id=<?php echo $val['goods_id']?>">马上抢</a>
                                </span>
                            </dl>
                        </div>
                        <?php }?>
                    </div>
		 		</div>
		 	</section>
		 </div>
	</body>
	<script src="public/js/zepto.min.js"></script>
	<script src="public/js/jquery-1.8.0.min.js"></script>
</html>
